.P-advantages {
    /*width: 800px;*/
    align-items: start !important;
}

.P-advantages .P-advantages-tabs {
    display: flex;
    grid-gap: 6px;
}

.P-advantages .P-advantages-tabs .btn {
    background: var(--text-secondary);
}

.P-advantages .P-advantages-tabs .btn.active {
    background: var(--global-primary);
}

.P-advantages .P-adv-index {
    width: 100%;
}

.P-advantages .P-adv-index .card-body {
    width: 100%;
}

/* table */
.P-advantages .P-adv-index .P-table-adv {

}

.P-advantages .P-adv-index .P-table-adv .add-new-item td {
    padding: 0;
}

.P-advantages .P-adv-index .P-table-adv .add-new-item td .btn {
    width: 100%;
    height: 50px;
    color: var(--global-primary);
}

.P-advantages .P-adv-index .P-table-adv tbody .row-adv .photo-adv {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background: #ccc;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-title .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-title .value {
    font-size: 13px;
    font-weight: normal;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-events .row-container {
    display: flex;
    align-items: center;
    grid-column-gap: 6px;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-events .row-container .btn-edit:hover {
    background: var(--global-primary);
    border-color: transparent;
}
.P-advantages .P-adv-index .P-table-adv tbody .col-events .row-container .btn-edit:hover i {
    color: #fff;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-events .row-container .btn-delete:hover {
    background: var(--danger);
    border-color: transparent;
}
.P-advantages .P-adv-index .P-table-adv tbody .col-events .row-container .btn-delete:hover i {
    color: #fff;
}
/* end - table */


/* modal */
.P-modal-add-adv {

}

.P-modal-add-adv .upload-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    color: var(--global-primary);
    border: 1px dashed var(--global-primary);
}

.P-modal-add-adv .upload-photo .title {
    display: flex;
    align-items: center;
}

.P-modal-add-adv .upload-photo i {
    margin-right: 10px;
    font-size: 30px;
}

.P-modal-add-adv .upload-photo:hover {
    background: rgba(30, 135, 240, 0.12);
    cursor: pointer;
}

.P-modal-add-adv .preview-upload-photo {
    position: relative;
}

.P-modal-add-adv .preview-upload-photo img {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    object-fit: contain;
}

.P-modal-add-adv .preview-upload-photo .btn-delete-photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background: var(--danger);
}

.P-modal-add-adv .preview-upload-photo .btn-delete-photo i {
    color: #fff;
}
/* end - modal */
