.P-advantages {
    width: 1000px;
    align-items: start !important;
}

.P-advantages .P-advantages-tabs {
    display: flex;
    grid-gap: 6px;
}

.P-advantages .P-advantages-tabs .btn {
    background: var(--text-secondary);
}

.P-advantages .P-advantages-tabs .btn.active {
    background: var(--global-primary);
}

.P-advantages .P-adv-index {
    width: 100%;
}

.P-advantages .P-adv-index .card-body {
    width: 100%;
}

/* table */
.P-advantages .P-adv-index .P-table-adv {

}

.P-advantages .P-adv-index .P-table-adv tbody .row-adv .photo-adv {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-title .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.P-advantages .P-adv-index .P-table-adv tbody .col-title .value {
    font-size: 13px;
    font-weight: normal;
}
/* end - table */


/* modal */
.P-modal-add-adv {

}

/* end - modal */
