.P-gallery {
    max-width: 1000px;
    margin: 0 auto;
}

.P-other-gallery {
    max-width: 1000px;
    margin: 20px auto 0;
}

.btn-add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    background: #E4EBFC;
    border: 1px dashed var(--global-primary);
    border-radius: 12px;
}

.btn-add-container:hover {
    background: #d8e2ff;
    cursor: pointer;
}

.btn-add-container .btn {
    color: var(--global-primary);
    font-size: 14px;
}

.P-other-gallery {

}