.P-nav-site {
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.P-nav-site > .row-container {
    display: flex;
    padding: 0 30px;
    height: 100%;
}

.P-nav-site > .row-container .btn-tab {
    position: relative;
    padding: 0 12px;
    height: 100%;
    color: #656565;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.P-nav-site > .row-container .btn-tab:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
}

.P-nav-site > .row-container .btn-tab:hover {
    color: #000;
}

.P-nav-site > .row-container .btn-tab:hover:before {
    background: rgba(0, 0, 0, 0.2);
}

.P-nav-site > .row-container .btn-tab.active {
    color: var(--global-primary);
}
.P-nav-site > .row-container .btn-tab.active:before {
    background: var(--global-primary);
}
