.P-orders > .card-body {
    width: 100%;
    max-width: none;
}

.P-orders > .card-body .header-card-body {
    margin-bottom: 25px;
}

.P-orders > .card-body .header-card-body .target-block {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.P-orders > .card-body .header-card-body .target-block .btn-send-setting {
    color: var(--global-primary);
    padding-top: 4px;
    padding-bottom: 4px;
}

.P-orders > .card-body .header-card-body .target-block > .sort-item {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.P-orders > .card-body .header-card-body .target-block > .sort-item .label {
    font-size: 14px;
    color: #727272;
}

.P-orders > .card-body .header-card-body .target-block > .sort-item select {
    width: 170px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #9a9a9a;
    padding: 3px;
    font-size: 14px;
}

.P-orders > .card-body .header-card-body .target-block > .sort-item select:hover {
    border-color: var(--global-primary);
    cursor: pointer;
}


/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */

.P-modal-send-setting .table-container {
    display: flex;
    border: 1px solid #ccc;
    min-height: 300px;
}

.P-modal-send-setting .table-container .col-item {
    flex: 1;
    border-right: 1px solid #ccc;
}

.P-modal-send-setting .table-container .col-item:last-child {
    border-right: 1px solid transparent;
}

.P-modal-send-setting .table-container .col-item .title-col {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}

.P-modal-send-setting .table-container .col-item .container-field {
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-gap: 5px;
    height: 42px;
    padding: 5px;
}

.P-modal-send-setting .table-container .col-item .container-field .field-container {
    width: 100%;
    height: 100%;
}

.P-modal-send-setting .table-container .col-item .container-field .field-input {
    width: 100%;
    height: 100%;
    margin: 0;
}

.P-modal-send-setting .table-container .col-item .container-field .btn {
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
}

.P-modal-send-setting .table-container .col-item .list-content {
    display: flex;
    flex-direction: column;
}

.P-modal-send-setting .table-container .col-item .list-content > .item {
    display: flex;
    align-items: center;
    height: 36px;
    padding-left: 20px;
    padding-right: 5px;
}

.P-modal-send-setting .table-container .col-item .list-content > .item:hover {
    background-color: #f2f2f2;
}

.P-modal-send-setting .table-container .col-item .list-content > .item .number-count {
    font-size: 12px;
    color: #b1b1b1;
    margin-right: 10px;
}

.P-modal-send-setting .table-container .col-item .list-content > .item .content {
    font-size: 14px;
}

.P-modal-send-setting .table-container .col-item .list-content > .item .btn-delete-row {
    padding: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    margin-left: auto;
    opacity: 0;
}

.P-modal-send-setting .table-container .col-item .list-content > .item .btn-delete-row i {
    color: red;
    font-size: 15px;
}

.P-modal-send-setting .table-container .col-item .list-content > .item:hover .btn-delete-row {
    opacity: 1;
}