.P-my-sites {

}

.P-my-sites > .wrapper-container {
    max-width: 1000px;
    margin: 0 auto;
}

.P-my-sites > .wrapper-container .P-table-my-sites {

}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-title .link-to-site {
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-title .link-to-site:hover {
    color: var(--global-primary);
}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-title .link-to-site i {
    color: #FFCC66;
    font-size: 14px;
    margin-right: 6px;
}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-domain a {
    color: inherit;
}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-domain a:hover {
    color: var(--global-primary);
}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-events .row-container {
    display: flex;
    align-items: inherit;
    grid-column-gap: 5px;
}

.P-my-sites > .wrapper-container .P-table-my-sites tbody .cell-events .row-container .btn {
    width: 30px;
}



.P-modal-create-site .error-notification {
    padding: 10px;
    color: var(--danger);
    font-size: 13px;
    background: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
}