RewriteEngine on
Header set Access-Control-Allow-Headers "Content-Type"
Header set Cache-Control "no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires 0

# Проверяем, что файл или директория с заданным именем не существует
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Правило для путей без папки "api"
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule . index.php [L]

# Правило для путей, где есть папка "api"
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Правило для пути, чтобы получить данные по сайту
RewriteRule ^/api/site/content /api/site/content/index.php [L,R=301]