@charset "UTF-8";

/* ------------------------------- import ------------------------------- */
@import "./../../plugins/uikit/uikit.min.css";
@import "./variables.css";
@import "./fonts.css";
@import "../icons/icons.css";
@import "./uikit.css";
@import "./normalize.css";
@import "./form-fields.css";
@import "/plugins/modal/modal.css";
@import "/plugins/splide/splide.min.css";
@import "/plugins/choices-select/choices.min.css";

/* -------------------------- import Components -------------------------- */
@import "/components/Navigation/Navigation.css";
@import "/components/Header/Header.css";

html {
    background-color: var(--body-color);
}

body {
    min-height: calc(var(--vh, 1vh) * 100);
    background-color: var(--body-color);
    font-family: 'Ubuntu', sans-serif;
}

body.exit {
    position: relative;
}

body.exit:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background: var(--dark-blue);
    opacity: 0;
    -webkit-animation: logOutAnimation 350ms ease-in-out forwards;
    animation: logOutAnimation 350ms ease-in-out forwards;
}

@keyframes logOutAnimation {
    to {
        opacity: 1;
    }
}


/* скелетон заглушка для img */
img[src=''] {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 60px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    -webkit-animation: shine 1s ease-in-out infinite;
    animation: shine 1s ease infinite;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}

.no-scroll {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
}

.no-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#app {
    min-height: calc(var(--vh, 1vh) * 100);
    opacity: 0;
    padding-left: 260px;
    padding-top: 95px;

    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: 200ms;
    animation-name: visibleApp;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes visibleApp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#app.visible {
    opacity: 1;
}

.G-container {
    max-width: calc(var(--container) + 120px);
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
    z-index: 1;
}

.card-body {
    position: relative;
    border-radius: 12px;
    background: #fff;
    padding: 20px 28px;
    box-shadow: 0px 4px 16px 0px rgba(91, 100, 129, 0.03);
}

.card-body .header-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.card-body .header-card-body .title-card {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    font-size: 18px;
    font-weight: 700;
}

.card-body .header-card-body .title-card span {
    margin-left: 5px;
}

/* модальное окно "подтверждения" */
.P-modal-alert {

}

.P-modal-alert .modal-alert-container {
    text-align: center;
    line-height: 160%;
}

.P-modal-alert .modal-footer {

}

.P-modal-alert .modal-footer .btn {
    flex: 1;
}

.P-modal-alert .modal-footer .btn.delete {
    background: var(--danger);
}
/* end - модальное окно "подтверждения" */


/* notification-message */
.uk-notification {
    z-index: 99999999;
}

.uk-notification-message {
    background: transparent !important;
    padding: 0 !important;
}

.uk-notification-message .G-item-notif-msg {
    display: flex;
    align-items: start;
    padding: 10px 20px;
    grid-column-gap: 20px;
}

.uk-notification-message .G-item-notif-msg.alert {
    background: orange;
}
.uk-notification-message .G-item-notif-msg.error {
    background: var(--danger);
}
.uk-notification-message .G-item-notif-msg.success {
    background: var(--done);
}

.uk-notification-message .G-item-notif-msg i {
    font-size: 20px;
    color: #fff;
    margin-top: 3px;
}

.uk-notification-message .G-item-notif-msg .text {
    color: #fff;
    font-size: 14px;
    padding-top: 3px;
}
/* end - notification-message */


/* animationBtnSuccess */
.btn.success-animation {
    background: var(--done);
}
/* end - animationBtnSuccess */