@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;

    mask-size: contain;
    -webkit-mask-size: contain;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-position: center;
    -webkit-mask-position: center;

    font-size: 16px;
    background-color: var(--text-primary);
}

.icon.home {
    mask-image: url(./home.svg);
    -webkit-mask-image: url(./home.svg);
}

.icon.code {
    mask-image: url(./code.svg);
    -webkit-mask-image: url(./code.svg);
}

.icon.sites {
    mask-image: url(./sites.svg);
    -webkit-mask-image: url(./sites.svg);
}

.icon.setting {
    mask-image: url(./setting.svg);
    -webkit-mask-image: url(./setting.svg);
}

.icon.user {
    mask-image: url(./user.svg);
    -webkit-mask-image: url(./user.svg);
}